<h2 align="center">Configuration of Environment</h2>

In [32]:
import sys

#Basic Packages related to Data Analysis
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install scipy

#Package required for ComtradeAPI
!{sys.executable} -m pip install --upgrade comtradeapicall

#Packages required for Oracle Table Insert
!{sys.executable} -m pip install sqlalchemy
!{sys.executable} -m pip install cx_oracle
!{sys.executable} -m pip install oracledb --no-deps

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.14.0)
Requirement already satisfied: numpy<2.3,>=1.23.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scipy) (1.26.4)
Requirement already satisfied: comtradeapicall in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.2.1)
Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.4.52)
Requirement already satisfied: cx_oracle in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (8.3.0)
Requirement already satisfied: oracledb in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (3.9.1)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.23 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [2]:
#Import Required Packages
import pandas

#Import ComTrade Package
import comtradeapicall

#Subscription Key for ComTradeData
subscription_key = '5ac78a346071428abfbc114525a1fb99'

<h2 align="center"> Extraction of GoldTrade Data from ComTrade API </h2>
<br>
<p> Since we are dealing with free version, we could not able to extract all years information at single shot. So, to overcome this issue, we have extracted for each year and then consolidated </p>

In [3]:
#Create Empty DataFrame
tradeData = pandas.DataFrame()

#User Defined Function to iterate all the months
def ref_period(year):
    return ','.join(f"{year}{month:02d}" for month in range(1, 13))

# Loop through the range of years from 2017 to 2023
for year in range(2017, 2024):

    #Chosen SouthAfrica, Kenya and Egypt Reporters
    tradeDataImport = comtradeapicall.getFinalData(
                    subscription_key, #Pass ComTrade API Key
                    typeCode='C',     #Selection of Goods
                    freqCode='M',     #Selection of Monthly Data
                    clCode='HS',      #Selection of HS Specification
                    period = ref_period(year),  #Year & Month Function
                    reporterCode='404,710,818', #SouthAfrica, Kenya & Egypt Reporters
                    cmdCode='7108,710811,710812,710813,710820', #Selection of Gold                                                 Commodities 
                    flowCode='X',       #Selection of Exports
                    partnerCode=None,   #Selection of All Partners
                    partner2Code=None,  #Selection of All 2nd Partners
                    customsCode=None,   #Selection of All Customs
                    motCode=None,       #Selection of All Mode of Transports
                    includeDesc=True    #Setting an Description of each columns
                                                   )

    print(f"Year: {year}, Response: {tradeDataImport}")
    
    if not tradeDataImport.empty:
        # Filter out empty or all-NA columns from tradeDataImport
        tradeDataImport = tradeDataImport.dropna(axis=1, how='all')
        
        # Concatenate the DataFrames
        tradeData = pandas.concat([tradeData, tradeDataImport], ignore_index=True)

# Reset the index
tradeData.reset_index(drop=True, inplace=True)

Year: 2017, Response:     typeCode freqCode  refPeriodId  refYear  refMonth  period  reporterCode  \
0          C        M     20170101     2017         1  201701           404
1          C        M     20170101     2017         1  201701           404
2          C        M     20170101     2017         1  201701           404
3          C        M     20170101     2017         1  201701           404
4          C        M     20170101     2017         1  201701           404
..       ...      ...          ...      ...       ...     ...           ...
919        C        M     20171201     2017        12  201712           818
920        C        M     20171201     2017        12  201712           818
921        C        M     20171201     2017        12  201712           818
922        C        M     20171201     2017        12  201712           818
923        C        M     20171201     2017        12  201712           818

    reporterISO reporterDesc flowCode  ...   netWgt  isNetWgtEstimated  \
0           KEN        Kenya        X  ...  20227.0              False
1           KEN        Kenya        X  ...  20213.0              False
2           KEN        Kenya        X  ...     14.0              False
3           KEN        Kenya        X  ...     14.0              False
4           KEN        Kenya        X  ...     14.0              False
..          ...          ...      ...  ...      ...                ...
919         EGY        Egypt        X  ...   4729.0              False
920         EGY        Egypt        X  ...    112.0              False
921         EGY        Egypt        X  ...    112.0              False
922         EGY        Egypt        X  ...    112.0              False
923         EGY        Egypt        X  ...    112.0              False

    grossWgt isGrossWgtEstimated  cifvalue      fobvalue  primaryValue  \
0        0.0               False       0.0  8.455496e+05  8.455496e+05
1        0.0               False       0.0  5.588946e+05  5.588946e+05
2        0.0               False       0.0  2.866550e+05  2.866550e+05
3        0.0               False       0.0  2.866550e+05  2.866550e+05
4        0.0               False       0.0  2.866550e+05  2.866550e+05
..       ...                 ...       ...           ...           ...
919      0.0               False       0.0  1.638651e+08  1.638651e+08
920      0.0               False       0.0  3.691391e+06  3.691391e+06
921      0.0               False       0.0  3.691391e+06  3.691391e+06
922      0.0               False       0.0  3.691391e+06  3.691391e+06
923      0.0               False       0.0  3.691391e+06  3.691391e+06

    legacyEstimationFlag isReported  isAggregate
0                      0      False         True
1                      0      False         True
2                      0      False         True
3                      0      False         True
4                      0       True        False
..                   ...        ...          ...
919                    0       True        False
920                    0      False         True
921                    0      False         True
922                    0      False         True
923                    0       True        False

[924 rows x 47 columns]
Year: 2018, Response:     typeCode freqCode  refPeriodId  refYear  refMonth  period  reporterCode  \
0          C        M     20180101     2018         1  201801           404
1          C        M     20180101     2018         1  201801           404
2          C        M     20180101     2018         1  201801           404
3          C        M     20180101     2018         1  201801           404
4          C        M     20180101     2018         1  201801           710
..       ...      ...          ...      ...       ...     ...           ...
576        C        M     20181201     2018        12  201812           818
577        C        M     20181201     2018        12  201812           818
578        C        M     20181201     2018        12  201812           818
579        C        M     20181201     2018        12  201812           818
580        C        M     20181201     2018        12  201812           818

    reporterISO  reporterDesc flowCode  ...    netWgt  isNetWgtEstimated  \
0           KEN         Kenya        X  ...     0.000              False
1           KEN         Kenya        X  ...     0.000              False
2           KEN         Kenya        X  ...     0.000              False
3           KEN         Kenya        X  ...     0.000              False
4           ZAF  South Africa        X  ...       NaN              False
..          ...           ...      ...  ...       ...                ...
576         EGY         Egypt        X  ...  2681.534               True
577         EGY         Egypt        X  ...  2681.534               True
578         EGY         Egypt        X  ...  2681.534               True
579         EGY         Egypt        X  ...   106.490               True
580         EGY         Egypt        X  ...   106.490               True

    grossWgt isGrossWgtEstimated  cifvalue      fobvalue  primaryValue  \
0        0.0               False       0.0  4.971914e+05  4.971914e+05
1        0.0               False       0.0  4.971914e+05  4.971914e+05
2        0.0               False       0.0  4.971914e+05  4.971914e+05
3        0.0               False       0.0  4.971914e+05  4.971914e+05
4        0.0               False       NaN  4.688235e+08  4.688235e+08
..       ...                 ...       ...           ...           ...
576      0.0               False       NaN  1.125763e+08  1.125763e+08
577      0.0               False       NaN  1.125763e+08  1.125763e+08
578      0.0               False       NaN  1.125763e+08  1.125763e+08
579      0.0               False       NaN  4.149026e+06  4.149026e+06
580      0.0               False       NaN  4.149026e+06  4.149026e+06

    legacyEstimationFlag isReported  isAggregate
0                      0      False         True
1                      0      False         True
2                      0      False         True
3                      0       True        False
4                      0      False         True
..                   ...        ...          ...
576                    6      False         True
577                    6      False         True
578                    6       True        False
579                    6      False         True
580                    6       True        False

[581 rows x 47 columns]
Year: 2019, Response:     typeCode freqCode  refPeriodId  refYear  refMonth  period  reporterCode  \
0          C        M     20190101     2019         1  201901           404
1          C        M     20190101     2019         1  201901           404
2          C        M     20190101     2019         1  201901           404
3          C        M     20190101     2019         1  201901           404
4          C        M     20190101     2019         1  201901           404
..       ...      ...          ...      ...       ...     ...           ...
518        C        M     20191201     2019        12  201912           818
519        C        M     20191201     2019        12  201912           818
520        C        M     20191201     2019        12  201912           818
521        C        M     20191201     2019        12  201912           818
522        C        M     20191201     2019        12  201912           818

    reporterISO reporterDesc flowCode  ...    netWgt  isNetWgtEstimated  \
0           KEN        Kenya        X  ...     0.000              False
1           KEN        Kenya        X  ...     1.000              False
2           KEN        Kenya        X  ...     1.000              False
3           KEN        Kenya        X  ...     0.000              False
4           KEN        Kenya        X  ...     2.000              False
..          ...          ...      ...  ...       ...                ...
518         EGY        Egypt        X  ...  1559.938               True
519         EGY        Egypt        X  ...  4261.515               True
520         EGY        Egypt        X  ...  5821.453               True
521         EGY        Egypt        X  ...  1559.938               True
522         EGY        Egypt        X  ...  4261.515               True

    grossWgt isGrossWgtEstimated  cifvalue      fobvalue  primaryValue  \
0        0.0               False       0.0  2.360184e+05  2.360184e+05
1        0.0               False       0.0  4.008915e+04  4.008915e+04
2        0.0               False       0.0  3.880781e+04  3.880781e+04
3        0.0               False       0.0  1.571214e+05  1.571214e+05
4        0.0               False       0.0  7.889696e+04  7.889696e+04
..       ...                 ...       ...           ...           ...
518      0.0               False       NaN  6.604746e+07  6.604746e+07
519      0.0               False       NaN  1.804317e+08  1.804317e+08
520      0.0               False       NaN  2.464792e+08  2.464792e+08
521      0.0               False       NaN  6.604746e+07  6.604746e+07
522      0.0               False       NaN  1.804317e+08  1.804317e+08

    legacyEstimationFlag isReported  isAggregate
0                      0      False         True
1                      0      False         True
2                      0      False         True
3                      0      False         True
4                      0      False         True
..                   ...        ...          ...
518                    6      False         True
519                    6      False         True
520                    6      False         True
521                    6       True        False
522                    6       True        False

[523 rows x 47 columns]
Year: 2020, Response:     typeCode freqCode  refPeriodId  refYear  refMonth  period  reporterCode  \
0          C        M     20200101     2020         1  202001           404
1          C        M     20200101     2020         1  202001           404
2          C        M     20200101     2020         1  202001           404
3          C        M     20200101     2020         1  202001           404
4          C        M     20200101     2020         1  202001           404
..       ...      ...          ...      ...       ...     ...           ...
614        C        M     20201201     2020        12  202012           818
615        C        M     20201201     2020        12  202012           818
616        C        M     20201201     2020        12  202012           818
617        C        M     20201201     2020        12  202012           818
618        C        M     20201201     2020        12  202012           818

    reporterISO reporterDesc flowCode  ...    netWgt  isNetWgtEstimated  \
0           KEN        Kenya        X  ...     0.000               True
1           KEN        Kenya        X  ...     1.000              False
2           KEN        Kenya        X  ...     0.000               True
3           KEN        Kenya        X  ...     0.000               True
4           KEN        Kenya        X  ...     1.000              False
..          ...          ...      ...  ...       ...                ...
614         EGY        Egypt        X  ...   468.694               True
615         EGY        Egypt        X  ...  2829.678               True
616         EGY        Egypt        X  ...     1.847               True
617         EGY        Egypt        X  ...     0.656               True
618         EGY        Egypt        X  ...     1.191               True

    grossWgt isGrossWgtEstimated  cifvalue      fobvalue  primaryValue  \
0        0.0               False       0.0  3.331760e+05  3.331760e+05
1        0.0               False       0.0  6.533260e+03  6.533260e+03
2        0.0               False       0.0  3.266428e+05  3.266428e+05
3        0.0               False       0.0  3.331760e+05  3.331760e+05
4        0.0               False       0.0  6.533260e+03  6.533260e+03
..       ...                 ...       ...           ...           ...
614      0.0               False       NaN  2.532098e+07  2.532098e+07
615      0.0               False       NaN  1.528721e+08  1.528721e+08
616      0.0               False       NaN  9.455504e+04  9.455504e+04
617      0.0               False       NaN  3.358924e+04  3.358924e+04
618      0.0               False       NaN  6.096580e+04  6.096580e+04

    legacyEstimationFlag isReported  isAggregate
0                      6      False         True
1                      0      False         True
2                      6      False         True
3                      6      False         True
4                      0      False         True
..                   ...        ...          ...
614                    6       True        False
615                    6       True        False
616                    6      False         True
617                    6       True        False
618                    6       True        False

[619 rows x 47 columns]
Year: 2021, Response:     typeCode freqCode  refPeriodId  refYear  refMonth  period  reporterCode  \
0          C        M     20210101     2021         1  202101           404
1          C        M     20210101     2021         1  202101           404
2          C        M     20210101     2021         1  202101           404
3          C        M     20210101     2021         1  202101           404
4          C        M     20210101     2021         1  202101           710
..       ...      ...          ...      ...       ...     ...           ...
554        C        M     20211201     2021        12  202112           818
555        C        M     20211201     2021        12  202112           818
556        C        M     20211201     2021        12  202112           818
557        C        M     20211201     2021        12  202112           818
558        C        M     20211201     2021        12  202112           818

    reporterISO  reporterDesc flowCode  ...    netWgt  isNetWgtEstimated  \
0           KEN         Kenya        X  ...     0.000               True
1           KEN         Kenya        X  ...     0.000               True
2           KEN         Kenya        X  ...     0.000               True
3           KEN         Kenya        X  ...     0.000               True
4           ZAF  South Africa        X  ...  6659.530              False
..          ...           ...      ...  ...       ...                ...
554         EGY         Egypt        X  ...  1376.838               True
555         EGY         Egypt        X  ...  1022.565               True
556         EGY         Egypt        X  ...   354.273               True
557         EGY         Egypt        X  ...    66.200               True
558         EGY         Egypt        X  ...    66.200               True

    grossWgt isGrossWgtEstimated  cifvalue      fobvalue  primaryValue  \
0        0.0               False       0.0  3.983875e+05  3.983875e+05
1        0.0               False       0.0  3.983875e+05  3.983875e+05
2        0.0               False       0.0  3.983875e+05  3.983875e+05
3        0.0               False       0.0  3.983875e+05  3.983875e+05
4        0.0               False       0.0  3.896631e+08  3.896631e+08
..       ...                 ...       ...           ...           ...
554      0.0               False       NaN  7.734469e+07  7.734469e+07
555      0.0               False       NaN  5.744319e+07  5.744319e+07
556      0.0               False       NaN  1.990150e+07  1.990150e+07
557      0.0               False       NaN  3.731420e+06  3.731420e+06
558      0.0               False       NaN  3.731420e+06  3.731420e+06

    legacyEstimationFlag isReported  isAggregate
0                      6      False         True
1                      6      False         True
2                      6      False         True
3                      6       True        False
4                      0      False         True
..                   ...        ...          ...
554                    6      False         True
555                    6       True        False
556                    6       True        False
557                    6      False         True
558                    6       True        False

[559 rows x 47 columns]
Year: 2022, Response:     typeCode freqCode  refPeriodId  refYear  refMonth  period  reporterCode  \
0          C        M     20220101     2022         1  202201           404
1          C        M     20220101     2022         1  202201           404
2          C        M     20220101     2022         1  202201           404
3          C        M     20220101     2022         1  202201           404
4          C        M     20220101     2022         1  202201           404
..       ...      ...          ...      ...       ...     ...           ...
604        C        M     20221201     2022        12  202212           818
605        C        M     20221201     2022        12  202212           818
606        C        M     20221201     2022        12  202212           818
607        C        M     20221201     2022        12  202212           818
608        C        M     20221201     2022        12  202212           818

    reporterISO reporterDesc flowCode  ...    netWgt  isNetWgtEstimated  \
0           KEN        Kenya        X  ...    49.680              False
1           KEN        Kenya        X  ...    34.040              False
2           KEN        Kenya        X  ...    15.640              False
3           KEN        Kenya        X  ...    49.680              False
4           KEN        Kenya        X  ...    34.040              False
..          ...          ...      ...  ...       ...                ...
604         EGY        Egypt        X  ...  1134.113               True
605         EGY        Egypt        X  ...   739.205               True
606         EGY        Egypt        X  ...  1873.319               True
607         EGY        Egypt        X  ...  1134.113               True
608         EGY        Egypt        X  ...   739.205               True

    grossWgt isGrossWgtEstimated  cifvalue      fobvalue  primaryValue  \
0        0.0               False       NaN  2.452805e+06  2.452805e+06
1        0.0               False       NaN  1.728322e+06  1.728322e+06
2        0.0               False       NaN  7.244832e+05  7.244832e+05
3        0.0               False       NaN  2.452805e+06  2.452805e+06
4        0.0               False       NaN  1.728322e+06  1.728322e+06
..       ...                 ...       ...           ...           ...
604      0.0               False       NaN  6.256738e+07  6.256738e+07
605      0.0               False       NaN  4.078088e+07  4.078088e+07
606      0.0               False       NaN  1.033483e+08  1.033483e+08
607      0.0               False       NaN  6.256738e+07  6.256738e+07
608      0.0               False       NaN  4.078088e+07  4.078088e+07

    legacyEstimationFlag isReported  isAggregate
0                      0      False         True
1                      0      False         True
2                      0      False         True
3                      0      False         True
4                      0       True        False
..                   ...        ...          ...
604                    6      False         True
605                    6      False         True
606                    6      False         True
607                    6       True        False
608                    6       True        False

[609 rows x 47 columns]
Year: 2023, Response:     typeCode freqCode  refPeriodId  refYear  refMonth  period  reporterCode  \
0          C        M     20230101     2023         1  202301           404
1          C        M     20230101     2023         1  202301           404
2          C        M     20230101     2023         1  202301           404

<h2 align="center">Data Consistency</h2>

In [4]:
#Check the number of rows and columns
tradeData.shape

(4284, 47)

In [5]:
#Source DataFrame details
tradeData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4284 entries, 0 to 4283
Data columns (total 47 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   typeCode                  4284 non-null   object
 1   freqCode                  4284 non-null   object
 2   refPeriodId               4284 non-null   int64
 3   refYear                   4284 non-null   int64
 4   refMonth                  4284 non-null   int64
 5   period                    4284 non-null   object
 6   reporterCode              4284 non-null   int64
 7   reporterISO               4284 non-null   object
 8   reporterDesc              4284 non-null   object
 9   flowCode                  4284 non-null   object
 10  flowDesc                  4284 non-null   object
 11  partnerCode               4284 non-null   int64
 12  partnerISO                4284 non-null   object
 13  partnerDesc               4284 non-null   object
 14  partner2Code              4284 non-null   int64
 15  partner2ISO               4284 non-null   object
 16  partner2Desc              4284 non-null   object
 17  classificationCode        4284 non-null   object
 18  classificationSearchCode  4284 non-null   object
 19  isOriginalClassification  4284 non-null   bool
 20  cmdCode                   4284 non-null   object
 21  cmdDesc                   4284 non-null   object
 22  aggrLevel                 4284 non-null   int64
 23  isLeaf                    4284 non-null   bool
 24  customsCode               4284 non-null   object
 25  customsDesc               4284 non-null   object
 26  mosCode                   4284 non-null   object
 27  motCode                   4284 non-null   int64
 28  motDesc                   4284 non-null   object
 29  qtyUnitCode               4284 non-null   int64
 30  qtyUnitAbbr               4284 non-null   object
 31  qty                       4284 non-null   float64
 32  isQtyEstimated            4284 non-null   bool
 33  altQtyUnitCode            4284 non-null   int64
 34  altQtyUnitAbbr            4284 non-null   object
 35  altQty                    4284 non-null   float64
 36  isAltQtyEstimated         4284 non-null   bool
 37  netWgt                    3980 non-null   float64
 38  isNetWgtEstimated         4284 non-null   bool
 39  grossWgt                  4284 non-null   float64
 40  isGrossWgtEstimated       4284 non-null   bool
 41  cifvalue                  2279 non-null   float64
 42  fobvalue                  4284 non-null   float64
 43  primaryValue              4284 non-null   float64
 44  legacyEstimationFlag      4284 non-null   int64
 45  isReported                4284 non-null   bool
 46  isAggregate               4284 non-null   bool
dtypes: bool(8), float64(7), int64(11), object(21)
memory usage: 1.3+ MB

In [6]:
#Validation of records
tradeData.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20170101,2017,1,201701,404,KEN,Kenya,X,...,20227.0,False,0.0,False,0.0,845549.563,845549.563,0,False,True
1,C,M,20170101,2017,1,201701,404,KEN,Kenya,X,...,20213.0,False,0.0,False,0.0,558894.597,558894.597,0,False,True
2,C,M,20170101,2017,1,201701,404,KEN,Kenya,X,...,14.0,False,0.0,False,0.0,286654.967,286654.967,0,False,True
3,C,M,20170101,2017,1,201701,404,KEN,Kenya,X,...,14.0,False,0.0,False,0.0,286654.967,286654.967,0,False,True
4,C,M,20170101,2017,1,201701,404,KEN,Kenya,X,...,14.0,False,0.0,False,0.0,286654.967,286654.967,0,True,False

In [7]:
#Convert Column Name to UpperCase for Table Insert
tradeData.columns = tradeData.columns.str.upper()

print(tradeData.columns)

Index(['TYPECODE', 'FREQCODE', 'REFPERIODID', 'REFYEAR', 'REFMONTH', 'PERIOD',
       'REPORTERCODE', 'REPORTERISO', 'REPORTERDESC', 'FLOWCODE', 'FLOWDESC',
       'PARTNERCODE', 'PARTNERISO', 'PARTNERDESC', 'PARTNER2CODE',
       'PARTNER2ISO', 'PARTNER2DESC', 'CLASSIFICATIONCODE',
       'CLASSIFICATIONSEARCHCODE', 'ISORIGINALCLASSIFICATION', 'CMDCODE',
       'CMDDESC', 'AGGRLEVEL', 'ISLEAF', 'CUSTOMSCODE', 'CUSTOMSDESC',
       'MOSCODE', 'MOTCODE', 'MOTDESC', 'QTYUNITCODE', 'QTYUNITABBR', 'QTY',
       'ISQTYESTIMATED', 'ALTQTYUNITCODE', 'ALTQTYUNITABBR', 'ALTQTY',
       'ISALTQTYESTIMATED', 'NETWGT', 'ISNETWGTESTIMATED', 'GROSSWGT',
       'ISGROSSWGTESTIMATED', 'CIFVALUE', 'FOBVALUE', 'PRIMARYVALUE',
       'LEGACYESTIMATIONFLAG', 'ISREPORTED', 'ISAGGREGATE'],
      dtype='object')

<h2 align="center"> Setting Up Database Connectivity </h2>

In [8]:
import cx_Oracle
import oracledb

#Initialize Oracle Client to setup Thick Connectivity
cx_Oracle.init_oracle_client(lib_dir="/Users/perinban/Downloads/instantclient_23_3")

In [9]:
from sqlalchemy import create_engine,text

#Create Engine to load data to data lake table
engine = create_engine('oracle://"C##goldTrade":goldTrade@localhost:1521/ORCLCDB')

<h2 align="center">Load Data to OLTP Database server</h2>

In [10]:
# Delete existing data from the Data Lake table
with engine.connect() as connection:
    connection.execute(text("TRUNCATE TABLE gold_trade_dl"))

#Load data to the Data Lake Table
try:
    tradeData.to_sql('gold_trade_dl', con=engine, if_exists='append', index=False, chunksize=50)
    print("Data insertion successful.")
except Exception as e:
    print(f"Error inserting data: {str(e)}")

Data insertion successful.

<h2 align="center"> ComTrade Data Gathering for Validation </h2>

In [11]:
import requests

# Function to fetch JSON data from URL, convert to DataFrame, and rename columns
def fetch_uri_data(url, required_columns,new_column_names):
    response = requests.get(url)
    data = response.json()
    mapping_dict = {}
    
    for item in data['results']:
        key = item[required_columns[0]]  # Use the first column as the key
        value = '|'.join([str(item[col]) for col in required_columns[1:]])

        mapping_dict[key] = value
    
    return mapping_dict

# List of URLs with their descriptions, desired column names, and columns to drop
urls = {
    "ReporterCodes": (
        "https://comtradeapi.un.org/files/v1/app/reference/Reporters.json",
        ["reporterCode","reporterDesc","reporterCodeIsoAlpha3"],
        ["REPORTERCODE","REPORTERDESC","REPORTERISO"]
    ),
    "CustomsCodes": (
        "https://comtradeapi.un.org/files/v1/app/reference/CustomsCodes.json",
        ["id","text"],
        ["CUSTOMSCODE", "CUSTOMSDESC"]
    ),
    "ModeOfTransportCodes": (
        "https://comtradeapi.un.org/files/v1/app/reference/ModeOfTransportCodes.json",
        ["id","text"],
        ["MOTCODE", "MOTDESC"]
    ),
    "PartnerCodes": (
        "https://comtradeapi.un.org/files/v1/app/reference/partnerAreas.json",
        ["PartnerCode","PartnerDesc","PartnerCodeIsoAlpha3"],
        ["PARTNERCODE", "PARTNERDESC", "PARTNERISO"]
    ),
    "CommodityCodes": (
        "https://comtradeapi.un.org/files/v1/app/reference/HS.json",
        ["id","text","parent","isLeaf"],
        ["CMDCODE","CMDDESC","PARENT","ISLEAF"]
    )
}

# Fetching data and processing in a dictionary [Dictionary Comprehension]
dict = {
    name: fetch_uri_data(url, cols, drop_cols) 
    for name, (url, cols, drop_cols) in urls.items()
}

#Access DataFrame
ReporterData = dict["ReporterCodes"]
CustomsData = dict["CustomsCodes"]
MotData = dict["ModeOfTransportCodes"]
Partnerdata = dict["PartnerCodes"]
CommodityData = dict["CommodityCodes"]

for key, value in CommodityData.items():
    position_of_hyphen = value.find("-")
    if position_of_hyphen != -1:  # If a hyphen is found
        CommodityData[key] = value[position_of_hyphen + 1:].strip()

<h2 align="center"> Data Wrangling </h2>

<h4 align="center"> 1. Conversion of Data to Common format either 0 or null <h4>

In [12]:
#Fill Null values with 0s for better handling of data
tradeData['NETWGT'] = tradeData['NETWGT'].fillna(0)
tradeData['PRIMARYVALUE'] = tradeData['PRIMARYVALUE'].fillna(0)

<h4 align="center"> 2. Data Transformation<h4>

In [13]:
#Initialize variables
tradeDataReject = []
rejected_rows = pandas.DataFrame()

#Trim Additional Spaces in All Object columns
tradeData = tradeData.apply(lambda x: x.str.strip() if isinstance(x, str) else x,axis=1)

# Define a function to handle splitting based on the type of value
def split_value(value, index):
    if isinstance(value, list):
        return value[index]
    else:
        return value.split('|')[index]

# Preprocess data to map required values for null values in required columns
tradeData['REPORTERDESC'] = tradeData['REPORTERCODE'].map(lambda code: split_value(Partnerdata.get(code, ''), 0))
tradeData['REPORTERISO'] = tradeData['REPORTERCODE'].map(lambda code: split_value(Partnerdata.get(code, ''), 1))
tradeData['CUSTOMSDESC'] = tradeData['CUSTOMSCODE'].map(lambda code: split_value(CustomsData.get(code, ''), 0))
tradeData['MOTDESC'] = tradeData['MOTCODE'].astype(str).map(lambda code: split_value(MotData.get(code, ''), 0))
tradeData['CMDDESC'] = tradeData['CMDCODE'].astype(str).map(lambda code: split_value(CommodityData.get(code, ''), 0))
tradeData['PARTNERDESC'] = tradeData['PARTNERCODE'].map(lambda code: split_value(Partnerdata.get(code, ''), 0))
tradeData['PARTNERISO'] = tradeData['PARTNERCODE'].map(lambda code: split_value(Partnerdata.get(code, ''), 1))
tradeData['PARTNER2DESC'] = tradeData['PARTNER2CODE'].map(lambda code: split_value(Partnerdata.get(code, ''), 0))
tradeData['PARTNER2ISO'] = tradeData['PARTNER2CODE'].map(lambda code: split_value(Partnerdata.get(code, ''), 1))
tradeData.loc[(tradeData['FLOWCODE'] == 'X'), 'FLOWDESC'] = 'Export'
tradeData.loc[(tradeData['CLASSIFICATIONCODE'].isin(['H0','H1','H2','H3','H4','H5','H6'])), 'CLASSIFICATIONSEARCHCODE'] = 'HS'
tradeData.loc[(tradeData['PRIMARYVALUE'] != tradeData['FOBVALUE'] ) & (tradeData['FOBVALUE'] != 0), 'PRIMARYVALUE'] = tradeData['FOBVALUE']
tradeData.loc[(tradeData['NETWGT'] == 0 ) & (tradeData['QTYUNITCODE'] == 8) & (tradeData['QTY'] != 0 ), 'NETWGT'] = tradeData['QTY']
tradeData.loc[((tradeData['NETWGT'] == 0) | (tradeData['NETWGT'].isnull()) ) & (tradeData['ALTQTYUNITCODE'] == 8) & (tradeData['QTYUNITCODE'] != 8), 'NETWGT'] = tradeData['ALTQTY']
tradeData.loc[(tradeData['NETWGT'] == 0 ) & (tradeData['ALTQTYUNITCODE'] == 15) & (tradeData['QTYUNITCODE'] != 8 ), 'NETWGT'] = tradeData['ALTQTY']/1000

<h4 align="center"> 3. Null Condition Check </h4>

In [14]:
#Null Condition Check in required columns
for col in ['TYPECODE', 'FREQCODE', 'REFPERIODID', 'PERIOD', 'REPORTERCODE','FLOWCODE', 'PARTNERCODE', 'CLASSIFICATIONCODE', 'ISORIGINALCLASSIFICATION', 'CMDCODE', 'ISLEAF', 'CUSTOMSCODE', 'MOSCODE', 'MOTCODE', 'FOBVALUE' ]:
    
    null_chk = tradeData[col].isna() | (tradeData[col] == '')
    
    #Drop the record if null found in mandate columns
    if null_chk.any():
        rejected_rows = tradeData[null_chk].copy()
        rejected_rows['REJECT_REASON'] = f"Null/Blank found for {col}"
        tradeDataReject.append(rejected_rows)
        tradeData.drop(rejected_rows.index, inplace=True)

print(tradeDataReject)

[]

In [15]:
#Function Declaration to reject records based on condition
def dqChecks(tradeData, col, condition, reject_reason):
    condition_chk = tradeData.apply(lambda row: condition(row[col]), axis=1)
    if condition_chk.any():
        rejected_rows = tradeData[condition_chk].copy()
        rejected_rows['REJECT_REASON'] = reject_reason
        return rejected_rows
    return pandas.DataFrame() #Returning Empty DataFrame if no rejects

<h4 align="center"> 4. Data Quality Checks </h4>

In [16]:
#Data Quality Checks Condition Parameters
dq_conditions = [
     ('TYPECODE', lambda x: x != 'C', "Typecode not equal to 'C'"),
     ('FREQCODE', lambda x: x != 'M', "Freqcode not equal to 'M'"),
     ('REPORTERCODE', lambda x: (x != 404) and (x != 710) and (x != 818), "Invalid ReporterCode sent from Source"),
     ('REPORTERISO', lambda x: (x.upper() != 'KEN') and (x.upper() != 'ZAF') and (x.upper() != 'EGY') if isinstance(x, str) else True, "Invalid ReporterISO sent from source"),
     ('REPORTERDESC', lambda x: (x != 'Kenya') and (x != 'South Africa') and (x != 'Egypt') if isinstance(x, str) else True, "Invalid ReporterDesc sent from source"),
    ('FLOWCODE', lambda x: x != 'X', "FlowCode not equal to 'X'"),
    ('FLOWDESC', lambda x: x != 'Export', "Invalid FlowDesc sent from Source"),
    ('PARTNERCODE', lambda x: x in (0, 129, 221, 258, 290, 360, 471, 472, 473, 490, 492, 527, 568, 577, 583, 608, 636, 637, 670, 697, 838, 879, 899), "Invalid Partner Code Sent from Source"),
    ('PARTNERISO', lambda x: x in ("W00", "A49", "E29", "PYF", "F49", "IDN", "R91", "_AC", "A79", "S19", "MCO", "O19", "E19", "F19", "FSM", "PHL", "A59", "VCT", "R20", "X2", "F97", "_X" ), "Invalid PartnerISO sent from Source"),
    ('PARTNERDESC', lambda x: x in ("World", "Caribbean, nes", "Eastern Europe, nes", "French Polynesia", "Northern Africa, nes", "Indonesia", "CACM, nes", "Africa CAMEU region, nes", "LAIA, nes", "Other Asia, nes", "Europe EU, nes", "Oceania, nes", "Other Europe, nes", "Other Africa, nes", "FS Micronesia", "Philippines", "Rest of America, nes", "North America and Central America, nes", "Saint Vincent and the Grenadines", "Europe EFTA, nes", "Free Zones", "Western Asia, nes", "Areas, nes")
     , "Invalid PartnerDesc sent from Source"),
    ('PARTNER2CODE', lambda x: x != 0, "Partner2Code not equal to 0"),
    ('PARTNER2ISO', lambda x: x != 'W00', "Invalid Partner2ISO sent from Source"),
    ('PARTNER2DESC', lambda x: x != 'World', "Invalid Partner2Desc sent from Source"),
    ('CLASSIFICATIONCODE', lambda x: (x != 'H0') and (x != 'H1') and (x != 'H2') and (x != 'H3') and (x != 'H4') and (x != 'H5') and (x != 'H6'), "Invalid ClassificationCode sent from Source"),
    ('CLASSIFICATIONSEARCHCODE', lambda x: x != 'HS', "Invalid ClassificationSearchCode sent from Source"),
    ('ISORIGINALCLASSIFICATION', lambda x: str(x).strip() != 'True', "Source Data does not belong to Original Classification"),
    ('CMDCODE', lambda x: (x != '7108') and (x != '710811') and (x != '710812') and (x != '710813') and (x != '710820'), "Invalid CmdCode sent from Source"),
    ('CMDDESC', lambda x: (x != 'Gold (including gold plated with platinum) unwrought or in semi-manufactured forms, or in powder form') and (x != 'Metals; gold, non-monetary, powder') and (x != 'Metals; gold, non-monetary, unwrought (but not powder)') and (x != 'Metals; gold, semi-manufactured') and (x != 'Gold, monetary'), "Invalid CmdDesc sent from Source"),
     ('ISLEAF', lambda x: x != 1, "Invalid isLeaf sent from Source"),
     ('ISREPORTED', lambda x: str(x).strip() != 'True', "Invalid Record sent from Source"),
    ('MOSCODE', lambda x: x != '0', "Invalid MosCode sent from Source"),
    ('PRIMARYVALUE', lambda x: (x!=tradeData['FOBVALUE']).all(),"PrimaryValue mismatches with FOBValue"),
    ('NETWGT', lambda x:(x== 0) and (tradeData['QTYUNITCODE'] == -1).all() and (tradeData['ALTQTYUNITCODE'] == -1).all(), "Invalid Netweight sent from source")
]

In [17]:
# Apply condition checks
for col, condition, reject_reason in dq_conditions:
    rejected_rows = dqChecks(tradeData, col, condition, reject_reason)
    if not rejected_rows.empty:
        tradeDataReject.append(rejected_rows)
        tradeData.drop(rejected_rows.index, inplace=True)

print(tradeDataReject)

[     TYPECODE FREQCODE  REFPERIODID  REFYEAR  REFMONTH  PERIOD  REPORTERCODE  \
0           C        M     20170101     2017         1  201701           404
3           C        M     20170101     2017         1  201701           404
5           C        M     20170101     2017         1  201701           404
7           C        M     20170101     2017         1  201701           710
9           C        M     20170101     2017         1  201701           710
...       ...      ...          ...      ...       ...     ...           ...
4273        C        M     20231201     2023        12  202312           710
4274        C        M     20231201     2023        12  202312           710
4275        C        M     20231201     2023        12  202312           710
4276        C        M     20231201     2023        12  202312           818
4280        C        M     20231201     2023        12  202312           818

     REPORTERISO  REPORTERDESC FLOWCODE  ... ISNETWGTESTIMATED  GROSSWGT  \
0            KEN         Kenya        X  ...             False       0.0
3            KEN         Kenya        X  ...             False       0.0
5            KEN         Kenya        X  ...             False       0.0
7            ZAF  South Africa        X  ...              True       0.0
9            ZAF  South Africa        X  ...             False       0.0
...          ...           ...      ...  ...               ...       ...
4273         ZAF  South Africa        X  ...             False       0.0
4274         ZAF  South Africa        X  ...             False       0.0
4275         ZAF  South Africa        X  ...             False       0.0
4276         EGY         Egypt        X  ...              True       0.0
4280         EGY         Egypt        X  ...              True       0.0

     ISGROSSWGTESTIMATED CIFVALUE      FOBVALUE  PRIMARYVALUE  \
0                  False      0.0  8.455496e+05  8.455496e+05
3                  False      0.0  2.866550e+05  2.866550e+05
5                  False      0.0  5.588946e+05  5.588946e+05
7                  False      0.0  3.147392e+08  3.147392e+08
9                  False      0.0  3.147315e+08  3.147315e+08
...                  ...      ...           ...           ...
4273               False      NaN  4.318300e+08  4.318300e+08
4274               False      NaN  4.318300e+08  4.318300e+08
4275               False      NaN  4.318300e+08  4.318300e+08
4276               False      NaN  2.159718e+08  2.159718e+08
4280               False      NaN  2.159718e+08  2.159718e+08

     LEGACYESTIMATIONFLAG ISREPORTED ISAGGREGATE  \
0                       0      False        True
3                       0      False        True
5                       0      False        True
7                       6      False        True
9                       0      False        True
...                   ...        ...         ...
4273                    0      False        True
4274                    0      False        True
4275                    0       True       False
4276                    6      False        True
4280                    6      False        True

                              REJECT_REASON
0     Invalid Partner Code Sent from Source
3     Invalid Partner Code Sent from Source
5     Invalid Partner Code Sent from Source
7     Invalid Partner Code Sent from Source
9     Invalid Partner Code Sent from Source
...                                     ...
4273  Invalid Partner Code Sent from Source
4274  Invalid Partner Code Sent from Source
4275  Invalid Partner Code Sent from Source
4276  Invalid Partner Code Sent from Source
4280  Invalid Partner Code Sent from Source

[2295 rows x 48 columns],      TYPECODE FREQCODE  REFPERIODID  REFYEAR  REFMONTH  PERIOD  REPORTERCODE  \
1           C        M     20170101     2017         1  201701           404
2           C        M     20170101     2017         1  201701           404
8           C        M     20170101     2017         1  201701           710
11          C        M     20170101     2017         1  201701           710
13          C        M     20170101     2017         1  201701           710
...       ...      ...          ...      ...       ...     ...           ...
4254        C        M     20231201     2023        12  202312           404
4255        C        M     20231201     2023        12  202312           404
4277        C        M     20231201     2023        12  202312           818
4278        C        M     20231201     2023        12  202312           818
4279        C        M     20231201     2023        12  202312           818

     REPORTERISO  REPORTERDESC FLOWCODE  ... ISNETWGTESTIMATED  GROSSWGT  \
1            KEN         Kenya        X  ...             False       0.0
2            KEN         Kenya        X  ...             False       0.0
8            ZAF  South Africa        X  ...              True       0.0
11           ZAF  South Africa        X  ...              True       0.0
13           ZAF  South Africa        X  ...             False       0.0
...          ...           ...      ...  ...               ...       ...
4254         KEN         Kenya        X  ...             False       0.0
4255         KEN         Kenya        X  ...             False       0.0
4277         EGY         Egypt        X  ...              True       0.0
4278         EGY         Egypt        X  ...              True       0.0
4279         EGY         Egypt        X  ...              True       0.0

     ISGROSSWGTESTIMATED CIFVALUE      FOBVALUE  PRIMARYVALUE  \
1                  False      0.0  5.588946e+05  5.588946e+05
2                  False      0.0  2.866550e+05  2.866550e+05
8                  False      0.0  7.636612e+03  7.636612e+03
11                 False      0.0  2.953500e+01  2.953500e+01
13                 False      0.0  7.607077e+03  7.607077e+03
...                  ...      ...           ...           ...
4254               False      NaN  1.608112e+06  1.608112e+06
4255               False      NaN  4.867699e+06  4.867699e+06
4277               False      NaN  3.567200e+05  3.567200e+05
4278               False      NaN  7.763001e+07  7.763001e+07
4279               False      NaN  1.379851e+08  1.379851e+08

     LEGACYESTIMATIONFLAG ISREPORTED ISAGGREGATE  \
1                       0      False        True
2                       0      False        True
8                       6      False        True
11                      6      False        True
13                      0      False        True
...                   ...        ...         ...
4254                    0      False        True
4255                    0      False        True
4277                    6      False        True
4278                    6      False        True
4279                    6      False        True

                        REJECT_REASON
1     Invalid isLeaf sent from Source
2     Invalid isLeaf sent from Source
8     Invalid isLeaf sent from Source
11    Invalid isLeaf sent from Source
13    Invalid isLeaf sent from Source
...                               ...
4254  Invalid isLeaf sent from Source
4255  Invalid isLeaf sent from Source
4277  Invalid isLeaf sent from Source
4278  Invalid isLeaf sent from Source
4279  Invalid isLeaf sent from Source

[926 rows x 48 columns],      TYPECODE FREQCODE  REFPERIODID  REFYEAR  REFMONTH  PERIOD  REPORTERCODE  \
26          C        M     20170101     2017         1  201701           710
28          C        M     20170101     2017         1  201701           710
30          C        M     20170101     2017         1  201701           710
34          C        M     20170101     2017         1  201701           710
37          C        M     20170101     2017         1  201701           710
...       ...      ...          ...      ...       ...     ...           ...
4183        C        M     20231001     2023        10  202310           710
4184        C        M     20231001     2023        10  202310           710
4190        C        M     20231001     2023        10  202310           710
4192        C        M     20231001     2023        10  202310           710
4194        C        M     20231001     2023        10  202310           710

     REPORTERISO  REPORTERDESC FLOWCODE  ... ISNETWGTESTIMATED  GROSSWGT  \
26           ZAF  South Africa        X  ...              True       0.0
28           ZAF  South Africa        X  ...              True       0.0
30           ZAF  South Africa        X  ...              True       0.0
34           ZAF  South Africa        X  ...             False       0.0
37           ZAF  South Africa        X  ...             False       0.0
...          ...           ...      ...  ...               ...       ...
4183         ZAF  South Africa        X  ...             False       0.0
4184         ZAF  South Africa        X  ...             False       0.0
4190         ZAF  South Africa        X  ...             False       0.0
4192         ZAF  South Africa        X  ...             False       0.0
4194         ZAF  South Africa        X  ...             False       0.0

     ISGROSSWGTESTIMATED CIFVALUE  FOBVALUE PRIMARYVALUE LEGACYESTIMATIONFLAG  \
26                 False      0.0    29.535       29.535                    6
28                 False      0.0    29.535       29.535                    6
30                 False      0.0    29.535       29.535                    6
34                 False      0.0  7607.077     7607.077                    0
37                 False      0.0  7607.077     7607.077                    0
...                  ...      ...       ...          ...                  ...
4183               False      NaN     0.525        0.525                    0
4184               False      NaN     0.525        0.525                    0
4190               False      NaN   151.066      151.066                    0
4192               False      NaN   151.066      151.066                    0
4194               False      NaN   151.066      151.066                    0

     ISREPORTED ISAGGREGATE                    REJECT_REASON
26        False        True  Invalid Record sent from Source
28        False        True  Invalid Record sent from Source
30        False        True  Invalid Record sent from Source
34        False        True  Invalid Record sent from Source
37        False        True  Invalid Record sent from Source
...         ...         ...                              ...
4183      False        True  Invalid Record sent from Source
4184      False        True  Invalid Record sent from Source
4190      False        True  Invalid Record sent from Source
4192      False        True  Invalid Record sent from Source
4194      False        True  Invalid Record sent from Source

[479 rows x 48 columns]]

<h4 align="center"> 5. Mean Imputation </h4>

In [18]:
#Check for 0 values for attributes used for visualisation
(tradeData[['PRIMARYVALUE', 'NETWGT']] == 0).sum()

PRIMARYVALUE    0
NETWGT          2
dtype: int64

In [19]:
# Extract month from the PERIOD attribute
tradeData['MONTH'] = tradeData['PERIOD'].str[4:6]

# Function to fill NaNs with the mean
def fill_wit_mean(tradeData, group_cols, cols):
    for col in cols:
        # Compute mean for each group
        mean_val = tradeData.groupby(group_cols)[col].transform('mean')
        # Fill 0s with the mean values
        tradeData.loc[tradeData[col] == 0, col] = mean_val
    return tradeData

# Group by REPORTERCODE and MONTH, and fill NaNs in PRIMARYVALUE and NETWGT with group means
tradeData = fill_wit_mean(tradeData, ['REPORTERCODE', 'MONTH'], ['PRIMARYVALUE', 'NETWGT'])

# Drop MONTH column if no longer needed
tradeData.drop(columns=['MONTH'], inplace=True)

In [20]:
#Check for 0 values for attributes used for visualisation
(tradeData[['PRIMARYVALUE', 'NETWGT']] == 0).sum()

PRIMARYVALUE    0
NETWGT          0
dtype: int64

<h4 align="center"> 6. Removal of Outliers </h4>

In [21]:
#As Data gets varied across and we does not know which month how much countries buy or sell, so, instead of calculating outliers based on primaryvalue and netwgt separately, we proceed with mid_value attribute

#Creation of MID_VAL attribute
tradeData['MID_VAL'] = tradeData['PRIMARYVALUE'] / tradeData['NETWGT']

In [22]:
#Check for existence of Anamolies in Data
tradeData[['PRIMARYVALUE','NETWGT','MID_VAL']].describe()

       PRIMARYVALUE         NETWGT        MID_VAL
count  5.840000e+02     584.000000     584.000000
mean   2.269349e+07    1646.811817   33194.773628
std    4.534327e+07    6748.359750   22442.155021
min    5.250000e-01       0.009000       0.122100
25%    2.224960e+04       3.000000    3561.427066
50%    6.416351e+05      37.145000   38973.173700
75%    1.856951e+07     902.780000   54024.540900
max    2.620394e+08  101755.000000  133706.300000

In [23]:
from scipy.stats import zscore
    
# Removing Outliers - Z-Score Method

def remove_outliers_zscore(tradeData, attribute):
    # Compute Z-scores
    tradeData['zscore'] = zscore(tradeData[attribute])
    # Define the threshold
    threshold = 3
    # Identify outliers
    outliers = tradeData[(tradeData['zscore'] < -threshold) | (tradeData['zscore'] > threshold)]
        
    # Prepare the rejected data with reasons
    rejects = outliers.copy()
    rejects['REJECT_REASON'] = f"Removed as part of outliers in {attribute}"
    
    rejects.drop(columns=['zscore','MID_VAL'], inplace=True)
        
    tradeDataReject.append(rejects)
        
    # Remove outliers
    tradeData = tradeData.loc[(tradeData['zscore'] >= -threshold) & (tradeData['zscore'] <= threshold)].copy()
    
    # Drop the Z-score column
    tradeData.drop(columns=['zscore'], inplace=True)
    tradeData.reset_index(drop=True, inplace=True)
        
    return tradeData

#Removed this for better handling of data
#for attribute in ['PRIMARYVALUE','NETWGT']:
#    tradeData = remove_outliers_zscore(tradeData, attribute)

# Remove outliers based on MID_VAL
tradeData = remove_outliers_zscore(tradeData, 'MID_VAL')

In [24]:
#Check for existence of Anamolies in Data
tradeData[['PRIMARYVALUE','NETWGT','MID_VAL']].describe()

       PRIMARYVALUE         NETWGT       MID_VAL
count  5.830000e+02     583.000000    583.000000
mean   2.273241e+07    1649.636485  33022.369638
std    4.537244e+07    6753.809278  22070.966538
min    5.250000e-01       0.009000      0.122100
25%    2.300460e+04       3.000000   3537.115480
50%    6.470140e+05      37.630000  38962.458860
75%    1.891876e+07     903.920000  54024.539989
max    2.620394e+08  101755.000000  69477.077000

In [25]:
# Drop the MID_VAL attribute
tradeData.drop(columns=['MID_VAL'], inplace=True)

<h2 align="center"> Validation of Rejects </h2>

In [26]:
# Concatenate all rejected DataFrames into a single DataFrame
if tradeDataReject:
    tradeDataRejects = pandas.concat(tradeDataReject).reset_index(drop=True)
    
    # Group by the 'REJECT_REASON' column and get the count of records for each reason
    print(tradeDataRejects.groupby('REJECT_REASON').size().reset_index(name='count'))
else:
    tradeDataRejects = pandas.DataFrame()

                            REJECT_REASON  count
0   Invalid Partner Code Sent from Source   2295
1         Invalid Record sent from Source    479
2         Invalid isLeaf sent from Source    926
3  Removed as part of outliers in MID_VAL      1

<h2 align="center">Load Data to Rejects Database server</h2>

In [27]:
#Delete Existing data from Data Reject Table
with engine.connect() as connection:
    connection.execute(text("TRUNCATE TABLE gold_trade_data_reject"))

#Load data to the Data Reject Table
try:
    tradeDataRejects.to_sql('gold_trade_data_reject', con=engine, if_exists='append', index=False, chunksize=50)
    print("Data insertion successful.")
except Exception as e:
    print(f"Error inserting data: {str(e)}")

Data insertion successful.

<h4 align="center"> 7. Drop Unwanted Columns </h4>

In [28]:
#Drop unwanted columns
tradeData = tradeData.drop(['TYPECODE','FREQCODE', 'REFPERIODID','REFYEAR','REFMONTH','REPORTERCODE','REPORTERISO','FLOWDESC','PARTNERCODE','PARTNERISO','PARTNER2CODE','PARTNER2ISO','CLASSIFICATIONCODE','CLASSIFICATIONSEARCHCODE','ISORIGINALCLASSIFICATION','CMDDESC','AGGRLEVEL','ISLEAF','CUSTOMSCODE','MOSCODE','MOTCODE','QTYUNITABBR','ISQTYESTIMATED','ALTQTYUNITABBR','ISALTQTYESTIMATED','ISNETWGTESTIMATED','ISGROSSWGTESTIMATED','CIFVALUE','FOBVALUE','LEGACYESTIMATIONFLAG','ISREPORTED','ISAGGREGATE'],axis=1)

#Rename columns based on the given requirements for display
tradeData.rename(columns={'REPORTERDESC':'REPORTER','FLOWCODE':'TRADE_FLOW','PARTNERDESC':'PARTNER','PARTNER2DESC':'2ND_PARTNER','CMDCODE':'COMMODITY_CODE','CUSTOMSDESC':'CUSTOMS_DESC','MOTDESC':'TRANSPORT_MODE','QTYUNITCODE':'QTY_UNIT','ALTQTYUNITCODE':'ALTERNATE_QUANTITY_UNIT','ALTQTY':'ALTERNATE_QUANTITY','NETWGT':'NET_WEIGHT(KG)','GROSSWGT':'GROSS_WEIGHT','PRIMARYVALUE':'TRADE_VALUE(US$)'}, inplace=True)

#Re-order columns in the given order based on requirements
col_order = ['PERIOD','TRADE_FLOW','REPORTER','PARTNER','2ND_PARTNER','CUSTOMS_DESC','TRANSPORT_MODE','COMMODITY_CODE','TRADE_VALUE(US$)','NET_WEIGHT(KG)','GROSS_WEIGHT','QTY_UNIT','QTY','ALTERNATE_QUANTITY_UNIT','ALTERNATE_QUANTITY']

tradeData = tradeData.reindex(columns=col_order)

print(tradeData)

     PERIOD TRADE_FLOW      REPORTER               PARTNER 2ND_PARTNER  \
0    201701          X         Kenya  United Arab Emirates       World
1    201701          X         Kenya          South Africa       World
2    201701          X  South Africa               Namibia       World
3    201701          X  South Africa               Namibia       World
4    201701          X         Egypt               Lebanon       World
..      ...        ...           ...                   ...         ...
578  202312          X         Kenya  United Arab Emirates       World
579  202312          X         Kenya          South Africa       World
580  202312          X         Egypt                Canada       World
581  202312          X         Egypt           Switzerland       World
582  202312          X         Egypt  United Arab Emirates       World

                      CUSTOMS_DESC            TRANSPORT_MODE COMMODITY_CODE  \
0    TOTAL customs procedure codes  TOTAL modes of transport         710812
1    TOTAL customs procedure codes  TOTAL modes of transport         710813
2             Outright exportation                       Air         710811
3             Outright exportation                      Road         710813
4    TOTAL customs procedure codes                       Air         710812
..                             ...                       ...            ...
578  TOTAL customs procedure codes  TOTAL modes of transport         710812
579  TOTAL customs procedure codes  TOTAL modes of transport         710813
580  TOTAL customs procedure codes  TOTAL modes of transport         710812
581  TOTAL customs procedure codes  TOTAL modes of transport         710812
582  TOTAL customs procedure codes  TOTAL modes of transport         710812

     TRADE_VALUE(US$)  NET_WEIGHT(KG)  GROSS_WEIGHT  QTY_UNIT        QTY  \
0        2.866550e+05          14.000           0.0         8     14.000
1        5.588946e+05       20213.000           0.0         8  20213.000
2        2.953500e+01           2.000           0.0        -1      0.000
3        7.607077e+03           1.000           0.0         8      1.000
4        3.854420e+07        1120.800           0.0         8   1120.800
..                ...             ...           ...       ...        ...
578      4.867699e+06         102.920           0.0         8    102.920
579      1.608112e+06          31.440           0.0         8     31.444
580      3.567200e+05           5.819           0.0         8      5.819
581      7.763001e+07        1266.414           0.0         8   1266.414
582      1.379851e+08        2251.013           0.0         8   2251.013

     ALTERNATE_QUANTITY_UNIT  ALTERNATE_QUANTITY
0                         15             14000.0
1                         15             20213.0
2                          8                 2.0
3                          8                 1.0
4                          8              1120.8
..                       ...                 ...
578                       15            102920.0
579                       15             31443.5
580                       -1                 0.0
581                       -1                 0.0
582                       -1                 0.0

[583 rows x 15 columns]

<h2 align="center">Load Data to OLAP Datawarehouse server</h2>

In [29]:
#Delete Existing data from Data Warehouse Table
with engine.connect() as connection:
    connection.execute(text("TRUNCATE TABLE gold_trade"))

#Load data to the Data Warehouse Table
try:
    tradeData.to_sql('gold_trade', con=engine, if_exists='append', index=False, chunksize=50)
    print("Data insertion successful.")
except Exception as e:
    print(f"Error inserting data: {str(e)}")

Data insertion successful.

<h2 align="center">Load Data to OLAP DataMarts</h2>

In [30]:
#Drop Unwanted columns for Plotting in Tableau
tradeData = tradeData.drop(['TRADE_FLOW','2ND_PARTNER','GROSS_WEIGHT','QTY_UNIT','QTY','ALTERNATE_QUANTITY_UNIT','ALTERNATE_QUANTITY'],axis=1)

#Delete Existing data from Data Mart Table
with engine.connect() as connection:
    connection.execute(text("TRUNCATE TABLE gold_trade_data_mart"))

#Load data to the Data Mart Table
try:
    tradeData.to_sql('gold_trade_data_mart', con=engine, if_exists='append', index=False, chunksize=50)
    print("Data insertion successful.")
except Exception as e:
    print(f"Error inserting data: {str(e)}")

Data insertion successful.

In [31]:
# Clean up: close cursor and connection
connection.close()